@import url('https://fonts.googleapis.com/css?family=Bungee+Inline|Oswald');

body {font-family: 'Oswald'; font-size: 14px;}

#main {width: 900px; margin: 10px auto;}

header h1 {
    font-family: 'Bungee Inline';
    font-size: 46px;
    font-weight: lighter;
}


#menu {columns: 420px 2; column-gap: 60px;}

section {margin-bottom: 20px; padding: 10px;}

h2 {
    text-transform: uppercase;
    margin-top: 0;}

dt {
    font-weight: bold;
    font-size: 16px;
    display: inline;}

/* Make a comma appear after the name of each menu item (before the description) */
dt::after {
    content: ", ";
    white-space: nowrap;
}
dd {display: inline; margin: 0;}
dd::after {content: " "; display: block; clear: both; margin-bottom: 15px;}

.price {float: right; padding: 0 0 35px 20px;}

footer {
    float:right;
    padding: 30px 0px 30px 0px;
    justify-content: right;
    text-align: right;
}

#desserts, #starters {
    border: 2px solid black;
}
