@import url('https://fonts.googleapis.com/css?family=Lato|Supermercado+One');


dt {
    font-size: 20px;
    font-weight: bolder;
}

* {
    background-image: url("img/map-bg.jpg");
    
}

body {
    font-family: 'Lato', sans-serif; 
    font-size: 18px;
    display: inline;
    font-weight: 
}

header { 
    font-family: 'Supermercado One', cursive;
    font-size: 24px;
    color: #5d4037;
}

h2 {
    font-variant-caps: small-caps;
    color: #6d4c41;
    font-size: 24px;
    font-weight: bolder;
}    



#main {
    width: 900px; 
    margin: 10px auto;}

/* Set the separator between the columns (the "column-rule") to be 2px dashed rosybrown. */
#menu {
    column-rule: 2px dashed rosybrown;
    columns: 400px 2; 
    column-gap: 100px;
}

section {margin-bottom: 50px;}



dd {margin: 0 0 12px 0; display: flex;}

.details {order: 1;}


.price {
    order: 2; 
    margin-left: auto;
    font-size: large;
    color: firebrick
    
}

address {
    border: 2px dashed rosybrown;
    padding: 10px;}